[submodule "depends/tiny-process-library"]
	path = depends/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
[submodule "depends/yaml-cpp"]
	path = depends/yaml-cpp
	url = https://gh.bugdey.us.kg/https://github.com/jbeder/yaml-cpp.git
