[submodule "depends/tiny-process-library"]
	path = depends/tiny-process-library
	url = git@github.com:TheMakerGroup/tiny-process-library.git
[submodule "depends/yaml-cpp"]
	path = depends/yaml-cpp
	url = git@github.com:TheMakerGroup/yaml-cpp.git
